<h2 class="content-block">Zoznam používateľov</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <div class="logos-container">
      <h3 class="content-title">Detail pouzivateľa</h3>
    </div>

<dx-form id="form" [(formData)]="user">
      <dxi-item itemType="group" [colCount]="2">
        <dxo-col-count-by-screen [xs]="1" [sm]="2" [md]="2" [lg]="3"></dxo-col-count-by-screen>
          <dxi-item dataField="first_Name" caption="Meno">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="last_Name" caption="Priezvisko">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="login" caption="Login">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="role" caption="Rola">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="email" caption="E-mail"></dxi-item>
      </dxi-item>
      <dxi-item
        itemType="button"
        [buttonOptions]="{text: 'Ulož', onClick: handleSave}">
      </dxi-item>
</dx-form>


</div>
</div>

