<h2 class="content-block">História</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <div class="logos-container">
      <h3 class="content-title">História nákupov</h3>
    </div>

    <div id="data-grid-demo">
      <dx-data-grid
        id="gridContainer"
        [dataSource]="dataSource"
        [showBorders]="true"
        [allowColumnReordering]="true"
        [allowColumnResizing]="true"
        [hoverStateEnabled]="true"
      >
        <dxo-search-panel [visible]="true" placeholder="Vyhľadaj ..."></dxo-search-panel>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[5, 10, 20]"
            [showNavigationButtons]="true">
        </dxo-pager>

        <dxo-editing
          mode="form"
        >
        </dxo-editing>
    
        <dxi-column dataField="id" [visible]="false"></dxi-column>
        <dxi-column dataField="ticket" caption="Názov tiketu" ></dxi-column>
        <dxi-column dataField="date" 
          caption="Dátum kúpy" 
          dataType="date" [format]="{ type: 'dd.MM.yyyy' }"
        ></dxi-column>
        <dxi-column dataField="count_Ticket" caption="Počet kusov" alignment="left"></dxi-column>
 
      </dx-data-grid>
      
    </div>
  </div>
</div>
