<h2 class="content-block">Zoznam eventov na schválenie</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <div class="logos-container">
      <h3 class="content-title">Eventy</h3>
    </div>
    <div id="data-grid-demo">
      <dx-data-grid
        id="gridContainer"
        [dataSource]="dataSource"
        keyExpr="id"
        [showBorders]="true"
        [allowColumnReordering]="true"
        [allowColumnResizing]="true"
        [hoverStateEnabled]="true"
      >
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[5, 10, 20]"
            [showNavigationButtons]="true">
        </dxo-pager>
        <dxo-editing
          mode="form"
          [allowDeleting]="true"
          [confirmDelete]="true"
        >
        </dxo-editing>
    
        <dxi-column dataField="id" [visible]="false"></dxi-column>
        <dxi-column dataField="name" caption="Názov" [width]="200"></dxi-column>
        <dxi-column dataField="start_Date" 
          caption="Začiatok platnosti" 
          [width]="200"
          dataType="date" [format]="{ type: 'dd.MM.yyyy' }"
        ></dxi-column>
        <dxi-column dataField="end_Date" 
          caption="Koniec platnosti" 
          [width]="200"
          dataType="date" [format]="{ type: 'dd.MM.yyyy' }"
        ></dxi-column>
        <dxi-column dataField="access" caption="Prístup" [width]="100"></dxi-column>
        <dxi-column dataField="status" caption="Stav" [width]="100"></dxi-column>

        <dxi-column type="buttons">
          <dxi-button name="delete" text="Schváliť" icon="check" [hint]="'Schváliť'" [onClick]="handleConfirm"></dxi-button>
        </dxi-column>   
      </dx-data-grid>

      <dx-form id="form2" style="margin: 10px;">
        <dxi-item
          itemType="button"
          [buttonOptions]="{text: 'Refresh stránky', onClick: refresh}">
        </dxi-item>
      </dx-form>
    </div>

</div>
</div>
