<h2 class="content-block">Správa firiem, eventov, tiketov</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <div class="logos-container">
      <h3 class="content-title">Detail tiketu</h3>
    </div>

<dx-form id="form" [(formData)]="ticket">

      <dxi-item itemType="group" [colCount]="2">
        <dxo-col-count-by-screen [xs]="1" [sm]="2" [md]="2" [lg]="3"></dxo-col-count-by-screen>
          <dxi-item dataField="name" caption="Názov">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="capacity" caption="Kapacita"></dxi-item>

          <dxi-item [editorOptions]="{displayFormat:'dd/MM/yyyy'}"  
            dataField="start_Date" 
            editorType="dxDateBox"  
            [label]="{visible: true, text: 'Začiatok platnosti'}"  
            quickDateInput>
            <dxi-validation-rule type="required"></dxi-validation-rule>  
          </dxi-item>

          <dxi-item [editorOptions]="{displayFormat:'dd/MM/yyyy'}"  
            dataField="end_Date" 
            editorType="dxDateBox"  
            [label]="{visible: true, text: 'Koniec platnosti'}"  
            quickDateInput>
            <dxi-validation-rule type="required"></dxi-validation-rule>  
          </dxi-item>

          <dxi-item dataField="additional_Info" caption="Informácie"></dxi-item>
          <dxi-item dataField="status" caption="Status"></dxi-item>
      </dxi-item>  
</dx-form>

<div class="dx-field">
  <div class="dx-field-label" style="font-size: 20px; margin: 10px;">Výber eventu</div>
  <div class="dx-field-value" style="margin: 15px;">
    <dx-select-box
      [items]="events"
      placeholder="Vybraný event"
      [showClearButton]="true"
      (onValueChanged)="onValueChanged($event)"
    ></dx-select-box>
  </div>
</div>


<dx-form id="form" style="margin: 10px;">
  <dxi-item
    itemType="button"
    [buttonOptions]="{text: 'Ulož', onClick: handleSave}">
  </dxi-item>
</dx-form>


</div>
</div>

