<ng-container 
*ngIf="getCurrentRoute() != '/login-form' && getCurrentRoute() != '/create-account' && getCurrentRoute() != '/first-user' && getCurrentRoute() != '/change-password'; else unauthenticatedRoute">
  <app-side-nav-outer-toolbar title="{{appInfo.title}}">
    <router-outlet></router-outlet>
    <app-footer>
      Copyright © 2022-{{appInfo.currentYear}} {{appInfo.title}} Inc.
      <br/>
      All trademarks or registered trademarks are property of their respective owners.
    </app-footer>
  </app-side-nav-outer-toolbar>
</ng-container>

<ng-template #unauthenticatedRoute>
  <app-unauthenticated-content></app-unauthenticated-content>
</ng-template>
