<h2 class="content-block">Nastavenie tiketu</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <div class="logos-container">
      <h3 class="content-title">Tiket</h3>
    </div>

    <div class="dx-field">
      <div class="dx-field-label" style="font-size: 20px; margin: 10px;">Výber firmy</div>
      <div class="dx-field-value" style="margin: 15px;">
        <dx-select-box
          [items]="companies"
          placeholder="Vybraná firma"
          [showClearButton]="true"
          (onValueChanged)="onValueChanged($event)"
        ></dx-select-box>
      </div>
    </div>

    <div class="dx-field" *ngIf="isShownEvents">
      <div class="dx-field-label" style="font-size: 20px; margin: 10px;">Výber eventu</div>
      <div class="dx-field-value" style="margin: 15px;">
        <dx-select-box
          [items]="events"
          placeholder="Vybraný event"
          [showClearButton]="true"
          (onValueChanged)="onValueChangedEvent($event)"
        ></dx-select-box>
      </div>
    </div>

    <div class="dx-field" *ngIf="isShownTickets">
      <div class="dx-field-label" style="font-size: 20px; margin: 10px;">Výber tiketu</div>
      <div class="dx-field-value" style="margin: 15px;">
        <dx-select-box
          [items]="tickets"
          placeholder="Vybraný tiket"
          [showClearButton]="true"
          (onValueChanged)="onValueChangedTickets($event)"
        ></dx-select-box>
      </div>
    </div>


    <div class="content-block dx-card responsive-paddings" *ngIf="isShown">
      <dx-form id="form"
        [formData]="dataCompanies[0]"
        labelLocation="top"
        [colCountByScreen]="colCountByScreen"
        > 
        <dxi-item
          dataField="name"
          [label]="{text: 'Nazov firmy'}"
          [editorOptions]="{ readOnly: true, 
            inputAttr: {  'style': 'background-color: white'  } 
          }">
        </dxi-item>
      </dx-form> 
    </div>

    <div class="content-block dx-card responsive-paddings" *ngIf="isShown">
      <dx-form id="form"
        [formData]="dataEvents[0]"
        labelLocation="top"
        [colCountByScreen]="colCountByScreen"
        > 
        <dxi-item
          dataField="name"
          [label]="{text: 'Nazov eventu'}"
          [editorOptions]="{ readOnly: true, 
            inputAttr: {  'style': 'background-color: white'  } 
          }">
        </dxi-item>
        <dxi-item
          [editorOptions]="{displayFormat:'dd/MM/yyyy'}"
          editorType="dxDateBox"
          dataField="start_Date"
          [label]="{text: 'Zaciatok eventu'}"
          [editorOptions]="{ readOnly: true, 
            inputAttr: {  'style': 'background-color: white'  } 
          }">
        </dxi-item>
        <dxi-item
          [editorOptions]="{displayFormat:'dd/MM/yyyy'}"
          editorType="dxDateBox"
          dataField="end_Date"
          [label]="{text: 'Koniec eventu'}"
          [editorOptions]="{ readOnly: true, 
            inputAttr: {  'style': 'background-color: white'  } 
          }">
        </dxi-item>
      </dx-form> 
    </div>

    <div class="content-block dx-card responsive-paddings" *ngIf="isShown">
      <dx-form id="form"
        [formData]="dataTickets[0]"
        labelLocation="top"
        [colCountByScreen]="colCountByScreen"
        > 
        <dxi-item
          dataField="name"
          [label]="{text: 'Nazov tiketu'}"
          [editorOptions]="{ readOnly: true, 
            inputAttr: {  'style': 'background-color: white'  } 
          }">
        </dxi-item>
        <dxi-item
          [editorOptions]="{displayFormat:'dd/MM/yyyy'}"
          editorType="dxDateBox"
          dataField="start_Date"
          [label]="{text: 'Zaciatok tiketu'}"
          [editorOptions]="{ readOnly: true, 
            inputAttr: {  'style': 'background-color: white'  } 
          }">
        </dxi-item>
        <dxi-item
          [editorOptions]="{displayFormat:'dd/MM/yyyy'}"
          editorType="dxDateBox"
          dataField="end_Date"
          [label]="{text: 'Koniec tiketu'}"
          [editorOptions]="{ readOnly: true, 
            inputAttr: {  'style': 'background-color: white'  } 
          }">
        </dxi-item>
        <dxi-item
          dataField="capacity"
          [label]="{text: 'Kapacita'}"
          [editorOptions]="{ readOnly: true, 
            inputAttr: {  'style': 'background-color: white'  } 
          }">
        </dxi-item>
        <dxi-item
          dataField="additional_Info"
          [label]="{text: 'Dodatočné informácie'}"
          [editorOptions]="{ readOnly: true, 
            inputAttr: {  'style': 'background-color: white'  } 
          }">
        </dxi-item>
      </dx-form> 
    </div>

    <dx-form id="formControl" [formData]="dataSource" *ngIf="isShown">
      <dxi-item itemType="group" [colCount]="2">
        <dxo-col-count-by-screen [xs]="1" [sm]="2" [md]="2" [lg]="2"></dxo-col-count-by-screen>          
          <dxi-item dataField="text" caption="Nazov">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-item>
          <dxi-item dataField="capacity" caption="Kapacita">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-item> 
      </dxi-item>
    </dx-form>

    <div class="dateClass" *ngIf="isShown" style="margin: 15px;">
      <dx-date-box 
        label="Zaciatok platnosti"
        [(value)]="dateStart"
        type="datetime"
        style="margin: 10px;"> 
      </dx-date-box>
      <dx-date-box 
        label="Koniec platnosti"
        [(value)]="dateEnd"
        type="datetime"
        style="margin: 10px;"> 
      </dx-date-box>
    </div>

    <dx-form id="form3" *ngIf="isShownSave">
      <dxi-item
        itemType="button"
        [buttonOptions]="{text: 'Ulož', onClick: handleSave}">
      </dxi-item>
    </dx-form>
    <dx-form id="form4">
      <dxi-item
        itemType="button"
        [buttonOptions]="{text: 'Späť', onClick: handleBack}">
      </dxi-item>
    </dx-form>

  
  </div>
</div>

