<h2 class="content-block">Home</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <div class="logos-container">
      <h3 class="content-title">Administration<br>  Tours & Tickets</h3>
    </div>


  <p>Aplikácia slúži na predaj tiketov pre zákazníkov. Zákazník ma možnosť vybrať si určitý podnik, v ktorom si zvolí daný 
    prebiehajúci event. Ku prebiehajúcemu eventu si zákazník môže zakúpiť lístok na vstup, či lístok na zľavu pre určitý produkt.
    Pre pohodlnejšie nakupovanie je možnosť zaregistrovať sa a následne prihlásiť.</p>



</div>
</div>
