<h2 class="content-block">Predaj tiketu</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <div class="logos-container">
      <h3 class="content-title">Tiket</h3>
    </div>

    <dx-form id="form" [(formData)]="eventCalendar">
      <dxi-item itemType="group" [colCount]="2">
        <dxo-col-count-by-screen [xs]="1" [sm]="2" [md]="2" [lg]="3"></dxo-col-count-by-screen>
        <dxi-item
          dataField="text"
          [label]="{text: 'Opis'}"
          [editorOptions]="{ readOnly: true, 
            inputAttr: {  'style': 'background-color: white'  } 
          }">
        </dxi-item>  
        <dxi-item
          [editorOptions]="{displayFormat:'dd/MM/yyyy'}"
          editorType="dxDateBox"
          dataField="startDate"
          [label]="{text: 'Začiatok platnosti'}"
          [editorOptions]="{ readOnly: true, 
            inputAttr: {  'style': 'background-color: white'  } 
          }">
        </dxi-item>
        <dxi-item
          [editorOptions]="{displayFormat:'dd/MM/yyyy'}"
          editorType="dxDateBox"
          dataField="endDate"
          [label]="{text: 'Koniec platnosti'}"
          [editorOptions]="{ readOnly: true, 
            inputAttr: {  'style': 'background-color: white'  } 
          }">
        </dxi-item>
        <dxi-item
          dataField="capacity"
          [label]="{text: 'Kapacita'}"
          [editorOptions]="{ readOnly: true, 
            inputAttr: {  'style': 'background-color: white'  } 
          }">
        </dxi-item>
        <dxi-item
          dataField="additional_Info"
          [label]="{text: 'Dodatočné informácie'}"
          [editorOptions]="{ readOnly: true, 
            inputAttr: {  'style': 'background-color: white'  } 
          }">
        </dxi-item>
      </dxi-item>
    </dx-form>

    <dx-form id="form1" [(formData)]="formData">
      <dxi-item dataField="value" 
          [label]="{text: 'Počet lístkov'}" 
          editorType="dxNumberBox"
          [editorOptions]="{ mode: 'number', format: '#0', min: formData.min, max: formData.max }"
          >
          <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-item>
    </dx-form>

    <div class="dx-field">
      <div class="dx-field-label" style="font-size: 20px; margin: 10px;">Spôsob platby</div>
      <div class="dx-field-value" style="margin: 15px;">
        <dx-select-box
          [items]="payment"
          placeholder="Vybraný typ"
          [showClearButton]="true"
          (onValueChanged)="onValueChanged($event)"
        ></dx-select-box>
      </div>
    </div>

    <dx-form id="form2" [(formData)]="dataSource" validationGroup="formData">
      <dxi-item itemType="group" [colCount]="2">
        <dxo-col-count-by-screen [xs]="1" [sm]="2" [md]="2" [lg]="3"></dxo-col-count-by-screen>
        
        <dxi-item dataField="first_Name" [label]="{text: 'Meno'}">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="last_Name" [label]="{text: 'Priezvisko'}">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="email" [label]="{text: 'E-mail'}">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="payment_type" [label]="{text: 'Spôsob platby'}">
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-item>
      </dxi-item>
        <dxi-item
          itemType="button"
          [buttonOptions]="{text: 'Kúpiť', onClick: handleBuy}">
        </dxi-item>
        <dxi-item
          itemType="button"
          [buttonOptions]="{text: 'Späť', onClick: handleBack}">
        </dxi-item>
    </dx-form>

    


</div>
</div>

