<h2 class="content-block">Detail tiketu</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <div class="logos-container">
      <h3 class="content-title">Tiket</h3>
    </div>

<dx-form id="form" [(formData)]="eventCalendar">
      <dxi-item itemType="group" [colCount]="2">
        <dxo-col-count-by-screen [xs]="1" [sm]="2" [md]="2" [lg]="3"></dxo-col-count-by-screen>
        <dxi-item
          dataField="text"
          [label]="{text: 'Opis'}"
          [editorOptions]="{ readOnly: true, 
            inputAttr: {  'style': 'background-color: white'  } 
          }">
        </dxi-item>  
        <dxi-item
          [editorOptions]="{displayFormat:'dd/MM/yyyy'}"
          editorType="dxDateBox"
          dataField="startDate"
          [label]="{text: 'Začiatok platnosti'}"
          [editorOptions]="{ readOnly: true, 
            inputAttr: {  'style': 'background-color: white'  } 
          }">
        </dxi-item>
        <dxi-item
          [editorOptions]="{displayFormat:'dd/MM/yyyy'}"
          editorType="dxDateBox"
          dataField="endDate"
          [label]="{text: 'Koniec platnosti'}"
          [editorOptions]="{ readOnly: true, 
            inputAttr: {  'style': 'background-color: white'  } 
          }">
        </dxi-item>
        <dxi-item
          dataField="capacity"
          [label]="{text: 'Kapacita'}"
          [editorOptions]="{ readOnly: true, 
            inputAttr: {  'style': 'background-color: white'  } 
          }">
        </dxi-item>
      </dxi-item>
      <dxi-item
        itemType="button"
        [buttonOptions]="{text: 'Späť', onClick: handleBack}">
      </dxi-item>
</dx-form>


</div>
</div>

